[submodule "ConwayGoF"]
	path = SO1-2021-ConwayGoF
	url = https://github.com/LucioTrincheri/ConwayGoF
[submodule "TP1EDyAII"]
	path = EDyAII-2021
	url = https://github.com/LucioTrincheri/TP1EDyAII
[submodule "SmallTerminal"]
	path = SO1-2021-SmallTerminal
	url = https://github.com/LucioTrincheri/SmallTerminal
[submodule "TPFinalEDyA"]
	path = EDyAI-2020
	url = https://github.com/LucioTrincheri/TPFinalEDyA
[submodule "PII-TPFinal"]
	path = PII-2019
	url = https://github.com/LucioTrincheri/PII-TPFinal
