[submodule "ConwayGoF"]
	path = SO1-2021-ConwayGoF
	url = https://github.com/LucioTrincheri/ConwayGoF
[submodule "TP1EDyAII"]
	path = EDyAII-2021
	url = https://github.com/LucioTrincheri/TP1EDyAII
[submodule "SmallTerminal"]
	path = SO1-2021-SmallTerminal
	url = https://github.com/LucioTrincheri/SmallTerminal
[submodule "TPFinalEDyA"]
	path = EDyAI-2020
	url = https://github.com/LucioTrincheri/TPFinalEDyA
[submodule "PII-TPFinal"]
	path = PII-2019
	url = https://github.com/LucioTrincheri/PII-TPFinal
[submodule "SO1-2021-atomic-broadcast"]
	path = SO1-2021-atomic-broadcast
	url = https://github.com/LucioTrincheri/SO1-2021-atomic-broadcast
[submodule "ALP-2021"]
	path = ALP-2021
	url = https://github.com/LucioTrincheri/ALP-2021
[submodule "IIA-2022"]
	path = IIA-2022
	url = https://github.com/LucioTrincheri/IIA-2022
[submodule "PyE-2021"]
	path = PyE-2021
	url = https://github.com/LucioTrincheri/PyE-2021
[submodule "NachOS-2022"]
	path = NachOS-2022
	url = https://github.com/LucioTrincheri/NachOS-2022
[submodule "ConsoleChat"]
	path = ConsoleChat
	url = https://github.com/LucioTrincheri/ConsoleChat
